body {
    background-image:url('https://miro.medium.com/max/4000/1*FwFjutKoa0Dq2WnEoh30_Q.jpeg');
 text-align: center;  
}
  #Hello {
      color: aliceblue;
  }
  p {
      color: white;
  }
 #About {
     color: violet;
 }