body {
    background-image:url('https://miro.medium.com/max/4000/1*FwFjutKoa0Dq2WnEoh30_Q.jpeg');
 text-align: center;  
 background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}
 
  #here {
      color: yellow;
  }

  p{
      color: white;
      font-style: italic,bold;
      font-size: medium;
      text-align:center;
  }
  h2 {
    color: rgb(255, 218, 148);
    font-style: oblique;
}
 #About {
     color: rgb(0, 255, 213);
 }
 .Myself {
     text-align: center;
 }
 
 li{
     color: yellow;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 a.link {
     color: yellow;
 }
 a.visited {
     color: tomato;
 }